<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dclab.mapping.paperMapper">
	<insert id="add" parameterType="org.dclab.model.SubjectRow" useGeneratedKeys="true" keyProperty="paperId">
  		INSERT INTO paper(proName,proId,subName,subId,paperNum,duration,earliestSubmit,latestLogin,showMark) VALUES(
  		#{proName},#{proId},#{subName},#{subId},#{paperNum},#{duration},#{earliestSubmit},#{latestLogin},#{showMark})
	</insert>
	
	<select id="getSubName" parameterType="int" resultType="String">
		SELECT subName FROM `paper` WHERE paperId=#{id}
	</select>
	
	<select id="getDuration" parameterType="int" resultType="int">
		SELECT duration FROM `paper` WHERE paperId=#{id}
	</select>
	
	<select id="getEarliest" parameterType="int" resultType="int">
		SELECT earliestSubmit FROM `paper` WHERE paperId=#{id}
	</select>
	
	<select id="getLatest" parameterType="int" resultType="int">
		SELECT latestLogin FROM `paper` WHERE paperId=#{id}
	</select>
	
	<select id="getPSPName" parameterType="int" resultType="org.dclab.model.ScoreCollectBean">
		SELECT proName,proId,subName,subId,paperNum FROM `paper` WHERE paperId=#{id}
	</select>
	
</mapper>