<div class="col-md-8 col-md-offset-3" style="padding-top:1%;padding-bottom:1%">
    专业名称：<input ng-model="majorName">
    科目名称：<input ng-model="kemuName">
</div>
<div class="col-md-8 col-md-offset-3" ng-controller="mpCtrl">
    <div class="form-group" style="padding-left:15%;font-size:150%">
        匹配题
    </div>
    <div class="form-group">
        题目：<input type="text" ng-model="stem">
    </div>
    <div class="form-group">
        <span>选项</span>
        <button class="btn btn-info" type="button" ng-click="itemMessage.push('');answerMessage.push('')">添加</button>
        <button class="btn btn-info" type="button" ng-click="itemMessage.pop();answerMessage.pop('')">删除</button>
    </div>
    <div class="form-group" ng-repeat="x in itemMessage track by $index">
        <br> 题干{{$index+1}}: <input type="text" ng-model="itemMessage[$index]">
        </input>
        答案: <input type="text" ng-model="answerMessage[$index]">
        </input>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" ng-click="save()">保存</button> <button class="btn btn-info" ng-click="delete()">下一题</button>
         <a ng-click="singleReturn()" style="text-decoration:underline;padding-left:3%;cursor:pointer">返回选择题型</a>
        <a ng-click="singleFinish()" style="text-decoration:underline;padding-left:3%;cursor:pointer">结束试卷录入</a>
    </div>
</div>