<div class="col-md-8 col-md-offset-3" ng-controller="roomIputCtrl">
    <div class="form-group" style="padding-left:15%;font-size:150%">
        考场信息
    </div>
    <div class="form-group">
        <span style="width:10%;display:inline-block">考场名：</span><input ng-model="roomName">
    </div>
     <div class="form-group">
        <span style="width:10%;display:inline-block">座位号：</span><input ng-model="seatName">
    </div>
     <div class="form-group">
        <span style="width:10%;display:inline-block">IP地址：</span><input ng-model="ipAdd">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" ng-click="save()">保存</button> <button class="btn btn-warning" ng-click="delete()">下一个</button>
    </div>
</div>