
<div class="col-md-8 col-md-offset-3" ng-controller="subjectCtrl">
    <div class="form-group" style="padding-left:15%;font-size:150%">
        科目
    </div>
    <div class="form-group">
        <span style="width:15%;display:inline-block">专业名称：</span><input ng-model="majorName">
        <span style="width:15%;display:inline-block;padding-left:1%">专业编号：</span><input ng-model="majorNum">
    </div>
    <div class="form-group">
        <span style="width:15%;display:inline-block">科目名称：</span><input ng-model="name">
        <span style="width:15%;display:inline-block;padding-left:1%">科目编号：</span><input ng-model="nameNum">
    </div>
    <div class="form-group">
        <span style="width:15%;display:inline-block">试卷号：</span><input ng-model="examNumber">
    </div>
    <div class="form-group">
        <span style="width:15%;display:inline-block">考试时长：</span><input ng-model="duration">分钟
    </div>
    <div class="form-group">
        <span style="width:15%;display:inline-block">最早交卷时间：</span><input ng-model="earliestSubmit">分钟
        <span style="width:15%;display:inline-block;padding-left:1%">最晚登录时间：</span><input ng-model="latestLogin">分钟
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="scoreShow">考试结束显示分数
    </div>
    <div class="form-group">
        <span style="width:10%;display:inline-block">题型：</span>
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="singleCheckbox">单选题 分值：<input ng-model="singleScore">分
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="multipleCheckbox">多选题 满分：<input ng-model="multifulScore">分 少选：<input ng-model="multiScore">分
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="judgeCheckbox">判断题 分值：
        <input ng-model="judgeScore">分
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="matchCheckbox">匹配题 单个匹配正确分值：<input ng-model="matchScore">分
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="simpleCheckbox">简答题 分值：<input ng-model="simpleScore">分
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="fillBlankCheckbox">填空题 单个空正确分值：<input ng-model="fillBlankScore">分
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="machineCheckbox">上机题 分值：<input ng-model="machineScore">分
    </div>
    <div class="form-group" style="padding-left:12%">
        <button class="btn btn-primary" ng-click="save()">保存</button> <button class="btn btn-info" ng-click="startType()">开始录入题目</button>
    </div>
</div>