<div ng-controller="exportFile" style="height:100%">
    <div style="margin-bottom:3%;height:12%">
        <br>
        <input type="radio" ng-model="sum.type" value="sumExport"> 成绩汇总<input type="radio" ng-model="sum.type" value="stuExport">考生答卷&nbsp;&nbsp;<button type="button" ng-click="sumE()" class="btn btn-primary">导出</button>
        <!--场次<select style="width:10%" ng-model="sumSelected" ng-options="x for x in sumLists | orderBy:'subName'"><input type="checkbox" ng-model="x"></select>-->
        <!--成绩汇总 <button type="button" ng-click="sumExport()" class="btn btn-primary">导出</button>-->
        <!--<button type="button" ng-click="clear()" class="btn btn-info">清空</button>-->
    </div>

        <!--场次<select style="width:10%" ng-model="stuSelected" ng-options="x for x in sumLists | orderBy:'subName'"></select>-->
        <!--考生答卷 <button type="button" ng-click="stuExport()" class="btn btn-primary">导出</button>-->
        <!--<button type="button" ng-click="stuClear()" class="btn btn-info">清空</button>-->

    <div class="selectArea">
        <div style="height: 5%;padding-bottom:3%">
            <span style="float: left" class="glyphicon glyphicon-refresh cursor-pointer" ng-click="refresh()">刷新</span> <span style="float: right">
                    <!--<label ng-bind="'已选择:'+selectedNum+'/'+roomsInfo.length"></label>-->
					<button type="button" class="btn btn-info" ng-click="selectAll()">全部选择</button>
					<button type="button" class="btn btn-info" ng-click="cancelAll()">取消选择</button>
				</span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th ng-repeat="(key,value) in roomMetaInfo" ng-click="thClick(key)" class='cursor-pointer'>{{value}}
                    </th>
                    <th>选择</th>
                </tr>
                <tr class="{{roomsStatus[room]}}" ng-repeat="room in exportByRoom | orderBy:orderCondition:isReverse">
                    <!--<td ng-bind="room.id"></td>-->
                    <td ng-bind="room.roomName"></td>
                    <td ng-bind="room.startTime| date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <td ng-bind="roomStatus[room.status]"></td>
                    <td ng-bind="room.testNum"></td>
                    <td ng-bind="room.registeredNum"></td>
                    <td ng-bind="room.unRegisteredNum"></td>
                    <!--<td ng-bind="room.detail"></td>-->
                    <td><input type="checkbox" ng-model="selectionStatus[room.id]" ng-click="checkSel(selectionStatus[room.id],room.id)"></td>
                </tr>
            </table>
        </div>
    </div>
</div>