<div ng-controller="ImportStuFile" style="height:100%">
    <!--导入考生安排-->
    <div style="margin-bottom:3%;height:12%">
        <br>
        <input type="file" id="StuFile" style="display:none" custom-on-change="selectFile">
        <input ng-model="selectedFile.name" placeholder="选择文件" disabled>
        <label for="StuFile" class="btn btn-primary">选择文件</label>
        <button type="button" ng-click="upload()" class="btn btn-info">导入文件</button>
        <button type="button" ng-click="clear()" class="btn btn-info">清空考生信息</button>
        <span class="glyphicon glyphicon-refresh" style="animation: refreshing infinite linear 1s;" ng-show=clearshow></span>
        <div style="padding-left:33%">
            <uib-progressbar class="progress-striped active" animate='false' value="progressPer" type="success" style="width:30%" ng-show=ngshow>{{progressPer}}%</uib-progressbar>

            <!--{{progressInfo}}-->
        </div>
        <div style="font-size:120%">
            <span class="glyphicon glyphicon-refresh" style="animation: refreshing infinite linear 1s;" ng-show=checkshow>
                
            </span>
            <span ng-show=checkshow> 正在检测中......</span>
        </div>



    </div>
    <div class="selectArea">
        <div style="height: 5%">
            <span style="float: left" class="glyphicon glyphicon-refresh cursor-pointer" ng-click="refresh()">刷新</span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th ng-repeat="(key,value) in stuMetaInfo" ng-click="thClick(key)" class='cursor-pointer'>{{value}}
                    </th>
                </tr>
                <tr ng-repeat="x in stuinfo | orderBy:orderCondition:isReverse">
                    <td ng-bind="x.roomName"></td>
                    <td ng-bind="x.startTime| date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <td ng-bind="x.uid"></td>
                    <td ng-bind="x.seatNum"></td>
                    <td ng-bind="x.uname"></td>
                    <td ng-bind="stuStatus[x.status]"></td>
                    <td ng-bind="x.ip"></td>
                    <td ng-bind="x.gender"></td>
                    <td ng-bind="x.cid"></td>
                    <td ng-bind="x.photo"></td>
                    <td ng-bind="x.proName"></td>
                    <td ng-bind="x.subName"></td>
                    <td ng-bind="x.paperNum"></td>


                </tr>
            </table>
        </div>
    </div>
</div>