<div class="container" style="font-size:125%;height:100%">
    <div class="col-md-10" style="height:100%">
        <!--上机题 -->
        <span class="glyphicon glyphicon-flag btn" aria-hidden="false" style="font-size: 20px;color:{{red}}" ng-model="count" ng-click="chgColor(count)" id="{{ID}}"> </span>{{nid}}.{{content}}<button class="btn btn-info" ng-click="askPdf()" ng-show=showPdf>详细内容</button>
        <audio controls ng-src="{{audio}}" type="audio/mp3" style="display:{{audiohide}};padding-left:5%">
          </audio>
        <video controls ng-src="{{video}}" type="video/mp4" style="display:{{videohide}};padding-left:5%" height="33%">
         </video>
        <img ng-src="{{img}}" style="display:{{imghide}};padding-left:5%" height="33%">

        <div style="padding-left:5%;height:50%">
            
            <input type="file" id="selectFile" style="display:none" custom-on-change="selectFile"> 
            <input ng-model="fileName" placeholder="选择文件" disabled>
            <label for="selectFile" class="btn btn-primary">选择文件</label></button>
            <button type="button" ng-click="upload()" class="btn btn-info">上传</button>
              <span>
            <uib-progressbar class="progress-striped active" animate='false' value="progressPer" type="success" style="width:30%" ng-show=ngshow>{{progressPer}}%</uib-progressbar>
            {{progressInfo}}
            </span>

            <div>
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" previous-text="{{previousText}}" next-text="{{nextText}}" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged(answer)"></ul>
            </div>
        </div>
    </div>
</div>