<div class="bg">
    <!--<div ui-view="navbar" style="height:3%"></div>-->
    <div height="94%">
        <div class="container" height="100%">
            <div class="page-header page-custom" height="18%">
                <h1>考试管理系统</h1>
            </div>
            <div class="row" height="80%">
                <div class="col-sm-6 col-sm-offset-3" height="100%">
                    <div class="form-top" height="10%">
                        <div class="form-top-left">
                            <h2>登录</h2>
                        </div>
                    </div>
                    <div class="form-bottom" ng-controller="httpCtrl" height="90%">
                        <div class="form-group">
                            <label class="sr-only" for="username">用户名</label>
                            <input type="text" placeholder="用户名" class="form-username form-control" ng-model="username">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="password">密码</label>
                            <input type="password" placeholder="密码" class="form-password form-control" ng-model="password">
                        </div>
                        <!-- <a href="showinfo.html" class="btn btn-info">登录</a> -->
                        <button type="submit" class="btn btn-info btn-block" ng-click="receive(username,password)">登录</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
