<div ui-view="navbar" style="height: 6%; background-color: #337ab7 /* #2aabd2 */"></div>
<div ng-controller="managerCtrl" id='main' class="supervi">
    <ul class="nav nav-pills nav-stacked" style="height: 100%;width：10%">
        <li ng-repeat="x in operationMetaInfo" class="{{active[$index]}}">
            <a ng-click="superRequest(x.url);$parent.index=$index" ng-bind="x.name" class="cursor-pointer"></a>
        </li>
    </ul>
    <div class="content" ng-repeat="x in operationMetaInfo" style="display: {{display[$index]}}">
        <div style="height: 100%;">
            <div style="margin-left: 1%; width: 98%; text-align: center;height:100%" ui-view="{{x.url}}" >
                <!--<p ng-bind="x.url"></p>-->
            </div>

        </div>
        
    </div>
</div>