<div ui-view="navbar" style="height: 6%; background-color: #337ab7 /* #2aabd2 */"></div>
<div ng-controller="supervisorCtrl" id='main' class="supervi">

	<ul class="nav nav-pills nav-stacked">
		<li ng-repeat="x in operationMetaInfo" class="{{active[$index]}}">
			<a ng-click="superRequest(x.url);$parent.index=$index" ng-bind="x.name" class="cursor-pointer"></a>
		</li>
	</ul>
	<div class="content" ng-repeat="x in operationMetaInfo" style="display: {{display[$index]}}">
		<div class='workingSpace'>
			<div style="margin: 2% auto; width: 100%; text-align: center" ui-view="{{x.url}}">
				<!-- <p ng-bind="x.url"></p> -->
			</div>
			<div style="margin: 2% auto; width: 20%; text-align: center">
				<button type="button" class="btn btn-primary" ng-click="confirm(x.url)">确认操作</button>
			</div>
		</div>
		<div class="selectArea">
			<div style="height: 5%">
				<span>总人数：{{examineesInfo.length}}&nbsp&nbsp&nbsp&nbsp</span> <span>在考：{{examingNum}}&nbsp&nbsp&nbsp&nbsp</span>
				<span>已交卷：{{completeNum}}&nbsp&nbsp&nbsp&nbsp</span> <span>未登录：{{absentNum}}&nbsp&nbsp&nbsp&nbsp</span>
				<span class="glyphicon glyphicon-refresh cursor-pointer" ng-click="refresh()">刷新</span> <span style="float: right"> <label
					ng-bind="'已选择:'+selectedNum+'/'+examineesInfo.length"></label>
					<button type="button" class="btn btn-primary" ng-click="release()" ng-show=seatRel>考位释放</button>
					<button type="button" class="btn btn-primary" ng-click="cancelExam()">结束考试</button>
					<button type="button" class="btn btn-info" ng-click="selectAll()">全部选择</button>
					<button type="button" class="btn btn-info" ng-click="cancelAll()">取消选择</button>
				</span>
			</div>
			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<tr>
						<th ng-repeat="(key,value) in examineeMetaInfo" ng-click="thClick(key)" class='cursor-pointer'>{{value}} 
						</th>
						<th>选择</th>
						<!--<span class="glyphicon glyphicon-sort"></span>-->
					</tr>
					<tr class="{{examineesStatus[examinee.uid]}}" ng-repeat="examinee in examineesInfo | orderBy:orderCondition:isReverse">
						<td ng-bind="pad(examinee.seatNum,2)"></td>
						<td ng-bind="examinee.uname"></td>
						<td ng-bind="examinee.gender"></td>
						<td ng-bind="examinee.cid"></td>
						<td ng-bind="examinee.uid"></td>
						<td ng-bind="examinee.finishTime| date:'yyyy-MM-dd HH:mm:ss'"></td>
						<td ng-bind="statusDisplay[examinee.status]"></td>
						<td><input type="checkbox"  ng-model="selectionStatus[examinee.uid]" ng-click="checkSel(selectionStatus[examinee.uid])"></td>
						<!--ng-disabled="ifcheck"-->
					</tr>
				</table>
			</div>
		</div>
	</div>

</div>